doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Customize Plus | PlusWP
    meta(name='description' content='Plugin to enhance and extend the WordPress Customize. By PlusWP.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='PlusWP <dev@pluswp.com> (http://pluswp.com)')
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    - var STATC_URL = 'https://raw.githubusercontent.com/PlusWP/roots/master/design/common/favicons';

    link(rel='apple-touch-icon', sizes='57x57', href=STATC_URL + '/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href=STATC_URL + '/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href=STATC_URL + '/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href=STATC_URL + '/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href=STATC_URL + '/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href=STATC_URL + '/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href=STATC_URL + '/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href=STATC_URL + '/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href=STATC_URL + '/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href=STATC_URL + '/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href=STATC_URL + '/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href=STATC_URL + '/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href=STATC_URL + '/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href=STATC_URL + '/manifest.json')
    meta(name='apple-mobile-web-app-title', content='PlusWp')
    meta(name='application-name', content='PlusWp')
    meta(name='msapplication-TileColor', content='#464646')
    meta(name='msapplication-TileImage', content=STATC_URL + '/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // build:css styles/vendor.css
    //- bower:css
    //- endbower
    // endbuild

    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Quicksand:300,400', rel='stylesheet', type='text/css')

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    .table
      .table-cell
        section.container
          header.header
            img.logo(src='https://raw.githubusercontent.com/PlusWP/roots/master/design/customize-plus/logo.png', title='Logo Customize Plus', alt='Customize Plus')
            h1.title Customize
              span Plus
            h2.subtitle Enhance and extend the WordPress Customize.

          article.article
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, id! Rerum voluptatibus excepturi, porro dolorem voluptatem minima doloribus hic veritatis amet qui tenetur consequatur. Doloremque earum quo magni ipsam tenetur.

            .donate
              p.text-small Customize Plus is free and open source software, if you find it useful consider a donation

              form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='HKXV3VPDUURPJ')
                input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1')

              p.text-small or
              a.btn-link(href='https://github.com/PlusWP/customize-plus-premium/') Checkout the premium version
              //- a.btn.btn-block.btn-inverse(href='https://github.com/PlusWP/customize-plus-premium/') Checkout the premium version

          footer.footer

            .row
              .col
                a.btn.btn-inverse(href='https://wordpress.org/plugins/customize-plus') Download
              .col
                a.btn(href='https://github.com/PlusWP/customize-plus/') View on Github
              .col
                a.btn(href='https://github.com/PlusWP/customize-plus/wiki/') Documentation

            .credits
              p &copy; All rights reserved, PlusWP 2015
                span |
                a(href='http://pluswp.com') pluswp.com
                span |
                a(href='mailto:dev@pluswp.com') dev [at] pluswp.com


    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-61802810-2','auto');ga('send','pageview');

    //- jquery outside build tag, because is going to be 'cdnized'
    script(src='/bower_components/jquery/dist/jquery.js')

    // build:js scripts/inline.js
    //- bower:js
    script(src='/bower_components/FitText.js/jquery.fittext.js')
    //- endbower

    script(src='scripts/main.js')
    // endbuild
